h1{
  text-align: center;
  color: #333333;
  margin-top: 4rem;
}

h2{
  text-align: center;
  color: #333333;
  margin-top: 4rem;
  font-size: 100%;
}

.center {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .sp_br{
        display: none;
      }
  }

@media screen and (max-width: 480px) {

   h1 {
     font-size: 26px;
   }

   h2 {
      font-size: 13px;
   }
  
  }
