h1{
  text-align: center;
  color: #333333;
  margin-top: 4rem;
}

h2{
  text-align: center;
  color: #333333;
  margin-top: 4rem;
  font-size: 100%;
}

.center {
  text-align: center;
}

@media screen and (max-width: 480px) {
  /* 768pxまでの幅の場合に適応される */
      h1 {
        font-size: 17px;
      }

      h2 {
        font-size: 6px;
      }
  
      .sp_br{
        display: none;
      }
  }
