.box1 {
  margin: 2em auto;
  padding: 1em;
  width: 70%;
  background-color: #fff; /* 背景色 */
  border: 1px solid #ccc; /* 枠線 */
}



.flexbox {
  display: flex;
  margin-top: 10px;
  margin-left: 20%;
}

.content {
  width: 200px;
}


input, textarea {
  width: 40%;
}

h1 {
  text-align: center;
}

.item {
  text-align: center;
}

.button {
  width: 30%;
}
